* {
  margin: 0px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
}

@media (min-width: 281px) and (max-width: 767px){
  .parent{
      display: grid;
      grid-template-columns: 1fr;
  }
}


.bg {
  background-image: url(twitter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image img{
    display: flex;
    justify-content: center;
    height: 650px;
}

.login {
  padding: 40px;
}

.bird {
  padding: 65px 0px 30px 0px;
}

.login h1 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

.login h2 {
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
  font-size: 30px;
}

.google {
  display: flex;
  justify-content: center;
  display: flex;
  margin-top: 25px;
  border: none;
  border: 1px solid rgb(199, 199, 199);
  background-color: transparent;
  border-radius: 18px;
  padding: 10px;
  font-size: 11px;
  width: 240px;
  height: 38px;
}

.google img {
  padding-right: 10px;
}

.apple {
  display: flex;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  border: none;
  border: 1px solid rgb(199, 199, 199);
  background-color: transparent;
  border-radius: 18px;
  width: 250px;
  padding: 10px;
  font-size: 11px;
  font-weight: 600;
  width: 240px;
  height: 38px;
}

.apple img {
  padding-right: 10px;
}

.after12 {
  font-size: 18px;
  color: black;
  position: relative;
  text-align: center;
  width: 250px;
  margin-top: 5px;
}
.after12::before {
  display: block;
  content: "";
  height: 1px;
  width: 110px;
  background-color: rgb(238, 238, 238);
  position: absolute;
  top: 50%;
  right: 55%;
}
.after12::after {
  content: "";
  height: 1px;
  width: 100px;
  background-color: rgb(238, 238, 238);
  position: absolute;
  top: 50%;
  left: 55%;
}

.sign {
  display: flex;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  border: none;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(31, 156, 240);
  color: white;
  border-radius: 18px;
  padding: 10px;
  font-size: 11px;
  width: 240px;
  height: 38px;
  font-weight: bolder;
  font-size: 11px;
}

.lastline {
  color: grey;
  font-size: 10px;
  width: 230px;
  font-family: "Rubik", sans-serif;
  margin-top: 5px;
}

.lastline a {
  text-decoration: none;
  color: blue;
}

.link2 {
  margin-top: 35px;
  text-decoration: none;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: bolder;
}

.sign-btn {
  color: rgb(31, 156, 240);
  display: flex;
  justify-content: center;
  display: flex;
  margin-top: 15px;
  border: none;
  border: 1px solid rgb(199, 199, 199);
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
  font-size: 11px;
  font-weight: bolder;
  width: 240px;
  height: 38px;
}